Options +FollowSymLinks
RewriteEngine On

RewriteRule ^nosotros/cultura/$ ./includes/daikin/cultura.php
RewriteRule ^nosotros/cultura$ ./includes/daikin/cultura.php

RewriteRule ^servicios/$ ./includes/daikin/services.php
RewriteRule ^servicios$ ./includes/daikin/services.php

RewriteRule ^bolsa-de-trabajo/$ ./includes/daikin/jobs.php
RewriteRule ^bolsa-de-trabajo$ ./includes/daikin/jobs.php

RewriteRule ^contacto/$ ./includes/daikin/contact.php
RewriteRule ^contacto$ ./includes/daikin/contact.php

RewriteRule ^distribuidores/([a-z]*)/$ ./includes/daikin/distribution.php?city=$1
RewriteRule ^distribuidores/([a-z]*)$ ./includes/daikin/distribution.php?city=$1

RewriteRule ^productos/([a-z]*)/([0-9]*)/$ ./includes/daikin/$1.php?product=$1-$2
RewriteRule ^productos/([a-z]*)/([0-9]*)$ ./includes/daikin/$1.php?product=$1-$2

RewriteRule ^politica-anti-soborno-anti-lav-ado-de-dinero-y-de-ley-de-practicas-corruptas-en-el-extranjero-de-1977-foreign-corrupt-practices-act-o-fcpa/$ ./includes/daikin/newsInt.php
RewriteRule ^politica-anti-soborno-anti-lav-ado-de-dinero-y-de-ley-de-practicas-corruptas-en-el-extranjero-de-1977-foreign-corrupt-practices-act-o-fcpa$ ./includes/daikin/newsInt.php

RewriteRule ^terminos-y-condiciones-de-venta-directa-de-equipo-y-servicio/$ ./includes/daikin/newsInt2.php
RewriteRule ^terminos-y-condiciones-de-venta-directa-de-equipo-y-servicio$ ./includes/daikin/newsInt2.php
