.imgScreen {
  position: absolute;
  top: 157px;
  left: 0;
  width: 100%;
  height: 83%;
  object-fit: cover;
}

.resources-banner-welcome-cultura {
  background-image: url("../../img/CulturaDaikin/CulturaDaikin/cultura_material_06.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.resources-banner {
  background-image: url("../../img/CulturaDaikin/CulturaDaikin/cultura_material_01.jpg");
  margin-top: 0;
  height: 20rem;
}

.resources-banner-nosotros {
  background-image: url("../../img/CulturaDaikin/Nosotros/cultura_material_08.jpg");
  margin-top: 0;
  height: 20rem;
}

.resources-banner-welcome-cultura .overlay-resources {
  background: linear-gradient(to bottom,
      rgba(66, 178, 232, 0.8) 0%,
      rgba(33, 89, 116, 0.8) 100%);
}

.resources-banner .overlay-resources {
  height: 20rem;
  background: linear-gradient(to bottom,
      rgba(66, 178, 232, 0.8) 0%,
      rgba(33, 89, 116, 0.8) 100%);
}

.resources-banner-nosotros .overlay-resources {
  height: 20rem;
  margin-top: -48px;
  background: linear-gradient(to bottom,
      rgba(66, 178, 232, 0.8) 0%,
      rgba(33, 89, 116, 0.8) 100%);
}

.overlay-resources .culture-daikin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
}

.border-blue {
  border: 1px solid #0097e0;
  border-radius: 10px;
}

.img-responsabilidad {
  position: absolute;
  margin-left: 600px;
  margin-top: 80px;
  border-radius: 1rem;
}

.container-txt-planta {
  position: absolute;
  padding: 60px;
  width: 700px;
  background-color: white;
  margin-left: 650px;
  margin-top: 110px;
  text-align: start;
}

.load-planta {
  height: 150px;
}

.load-respon{
  margin-top: 15rem;
  margin-left: 25rem;
}

@media (min-width: 576px) {
  .img-responsabilidad {
    margin-left: 550px;
  }
}

@media (min-width: 768px) {
  .img-responsabilidad {
    margin-left: 500px;
  }
  
  .imgScreen {
    height: 45%;
  }
}

@media (min-width: 992px) {
  .imgScreen {
    top: 156px;
    height: 53%;
  }

  .resources-banner {
    height: 20rem;
  }

  .border-blue {
    border: 1px solid #0097e0;
    border-radius: 10px;
  }

  .img-responsabilidad {
    margin-left: 650px;
    margin-top: 80px;
  }

  .load-planta {
    height: 550px;
  }
}



@media (min-width: 1200px) {
  .imgScreen {
    top: 203px;
    height: 51%;
  }

  .img-responsabilidad {
    margin-left: 900px;
  }
}

@media (min-width: 1400px) {
  .img-responsabilidad {
    margin-left: 1000px;
    margin-top: 20px;
  }
}