.location-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-wrapper iframe {
    height: 18rem;
    width: 90%;
    border-radius: 3rem;
}



@media (min-width: 1200px) {
    .location-wrapper iframe {
        height: 30rem;
        width: 100%;
        border-radius: 3rem;
    }
    
}