.resources-banner-productos {
  background-image: url("../../img/Productos//VRV/VRV.jpg");
  margin-top: 0;
  height: 35rem;
}

.resources-banner-productos .overlay-resources {
  height: 35rem;
  margin-top: -48px;
  background: linear-gradient(
    to bottom,
    rgba(66, 178, 232, 0.8) 0%,
    rgba(33, 89, 116, 0.8) 100%
  );
}

.resources-banner-residencial {
  background-image: url("../../img/Productos/Residencial/residencial.jpg");
  margin-top: 0;
  height: 20rem;
}

.resources-banner-residencial .overlay-resources {
  height: 20rem;
  margin-top: -48px;
  background: linear-gradient(
    to bottom,
    rgba(66, 178, 232, 0.8) 0%,
    rgba(33, 89, 116, 0.8) 100%
  );
}

.resources-banner-aplicado {
  background-image: url("../../img/Productos/Residencial/residencial.jpg");
  margin-top: 0;
  height: 20rem;
}

.resources-banner-aplicado .overlay-resources {
  height: 20rem;
  margin-top: -48px;
  background: linear-gradient(
    to bottom,
    rgba(66, 178, 232, 0.8) 0%,
    rgba(33, 89, 116, 0.8) 100%
  );
}

.containerProducts .accordion-item {
  background-color: #0097E0 !important;
}

.containerProducts .list-group-item {
  background-color: #48b0e4 !important;
  color: white !important;
}

.containerProducts .accordion-button {
  background-color: #0097E0 !important;
  color: white !important;
}

.containerProducts .accordion {
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(45, 91, 161, 0.25);
}

@media (min-width: 1200px) {
  .resources-banner-productos {
    height: 25rem;
  }
  
  .resources-banner-productos .overlay-resources {
    height: 25rem;
  }

  .resources-banner-productos {
    height: 25rem;
  }
  
  .resources-banner-productos .overlay-resources {
    height: 25rem;
  }

  .resources-banner-aplicado {
    height: 25rem;
  }
  
  .resources-banner-aplicado .overlay-resources {
    height: 25rem;
  }
}