.resources-banner-servicios {
  background-image: url("../../img/Servicios/servicios.jpg");
  margin-top: 0;
  height: 15rem;
}

.resources-banner-servicios .overlay-resources {
  height: 15rem;
  margin-top: 0px;
  background: linear-gradient(
    to bottom,
    rgba(66, 178, 232, 0.8) 0%,
    rgba(33, 89, 116, 0.8) 100%
  );
}

.circule-icon-servicio{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 2rem;
  border-radius: 50%;
}

.iconServices{
  width: 4rem;
  height: 4rem;
}