//colors
$blue: #0097E0;
$indigo: #052f85;
$yellow: #efcb1b;
$white: #ffffff;
$transparent: transparent;
//navbar
$navbar-dark-color: rgba($blue, 1);
$navbar-dark-hover-color: rgba($blue, .75);
$navbar-dark-active-color: $blue;
$navbar-dark-disabled-color: rgba($blue, .25);
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color: transparent;
//$navbar-dark-toggler-icon-bg-scrolled: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$blue}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");