@import 'base/variables';
@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: helvetica_condensed;
    src: url('../fonts/helvetica_condensed.ttf');
}

@font-face {
    font-family: Helvetica;
    src: url('../fonts/Helvetica.ttf');
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    cursor: pointer;
}

body {
    /*display: inline-block;*/
    width: 100%;
    /*height: 100%;*/
    font-family: $main_font;
    font-size: 1.6rem;
    /*overflow-x: hidden;*/
}

p {
    font-size: 1.6rem;
}

.container {
    width: 90%;
    max-width: 1200px;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2 {
    font-family: $title_font;
    margin: 0 0 $space / 2 0;
    font-weight: 900;
    text-align: center;
}

h3 {
    font-family: $subtitle_font;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
    text-align: center;
}