/** Media Queries **/

@mixin phone-xl {
    @media (min-width: #{$phone-xl}) {
        @content;
    }
}

@mixin small-phone {
    @media (min-width: #{$small-phone}) {
        @content;
    }
}

@mixin phone {
    @media (min-width: #{$phone}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin desktop-wide {
    @media (min-width: #{$desktop-wide}) {
        @content;
    }
}

@mixin desktop-extra-wide {
    @media (min-width: #{$desktop-extra-wide}) {
        @content;
    }
}

@mixin grid($columns, $space) {
    display: grid;
    gap: $space;
    grid-template-columns: repeat($columns, 1fr);
}