//fuentes
$main_font: 'OpenSans-Regular';
$thin: 300;
$regular: 400;
$bold: 700;
$black: 900;
//Colores
$gray-products: #F9F9F9;
$gray-section: #FAFAFA;
$blue-map: #02AFF1;
$dark: #000000;
$darkGray: #313030;
$white: #ffffff;
//Queries
$phone-xl: 200px;
$small-phone: 300px;
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktop-wide: 1440px;
$desktop-extra-wide: 2000px;
//Espacios
$space: 5rem;