.responsability {
    z-index: 9;
}

.general-container {
    display: flex;
    flex-direction: column;
    position: relative;
    .general-blue {
        background-color: $blue;
    }
    .blue-container {
        background-color: $blue;
        height: 50%;
        padding: 10rem 0;
        .flex-blue {
            @include desktop {
                width: 50%;
            }
            .white-title-culture {
                text-align: left;
                margin-bottom: 4rem;
            }
        }
    }
    .white-container {
        height: 50%;
        padding: 10rem 0;
        .flex-blue {
            @include desktop {
                width: 50%;
            }
            .blue-title-cult {
                margin-bottom: 4rem;
            }
            ul {
                padding: 0 2rem;
            }
            li {
                margin-bottom: 3rem;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.general-container {
    img {
        display: none;
        @include desktop {
            display: block;
            position: absolute;
            width: 40rem;
            top: 15%;
            left: 60%;
        }
    }
}