.tabs-container {
  margin-top: 11rem;
  .row {
    display: block;
    margin: 0;
  }
  .tabs-container-links {
    background-color: $gray-section;
  }
  .container-tabs {
    padding: 0;
    width: 100%;
    margin: auto;
    @include desktop {
      max-width: 120rem;
      background-color: $gray-section;
    }
  }
}

nav > .nav.nav-tabs {
  grid-template-columns: repeat(2, 1fr);
  border: none;
  color: #fff;
  background: #272e38;
  border-radius: 0;
  @include desktop {
    grid-template-columns: repeat(5, 1fr);
  }
}

nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  padding: 18px 25px;
  color: $blue;
  background-color: $gray-section;
  border-radius: 0;
}

.nav-grid {
  grid-column: 1 / 3;
  @include desktop {
    grid-column: 5 / 6;
  }
}

nav > div a.nav-item.nav-link.active:after {
  @include desktop {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    border: 10px solid transparent;
    border-top-color: $white;
  }
}

.tab-content {
  background: #fdfdfd;
  line-height: 25px;
  padding: 0;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus {
  border: none;
  background: $white;
  color: $dark;
  border-radius: 0;
  transition: background 0.2s linear;
}

.hero-tabs {
  background-image: url("../../build/img/cultura_material_06.jpg");
  height: 80%;
  background-position: center right;
  background-size: cover;
  margin-top: 0.1rem;
  @include desktop {
    height: auto;
  }
}

.overlay {
  height: 80%;
  background: linear-gradient(
    to bottom,
    rgba(66, 178, 232, 0.8) 0%,
    rgba(33, 89, 116, 0.8) 100%
  );
  @include desktop {
    height: auto;
    padding: 5rem;
  }
  .culture-daikin {
    padding: 5rem 0;
    @include tablet {
      padding: 5rem 10rem;
    }
    @include desktop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 70rem;
      height: auto;
      padding: 0;
    }
    .white-title {
      margin-bottom: 4rem;
    }
    .white-text {
      text-align: center;
      font-size: 1.6rem;
      margin-bottom: 2rem;
      &:last-of-type {
        margin: 0;
      }
    }
  }
}

.weather {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark;
  height: 10rem;
  .white-title-culture {
    margin: 0;
  }
}

.weather-container {
  display: grid;
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  .weather-img {
    img {
      min-height: 33rem;
    }
  }
  .img-columns {
    @include tablet {
      grid-column: 2 / 3;
    }
  }
  .weather-info {
    margin-top: 5rem;
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 0;
    }
    @include desktop {
      max-width: 50rem;
      margin-right: 12rem;
    }
    .date-text {
      margin-bottom: 4rem;
      @include tablet {
        margin-bottom: 1rem;
      }
    }
  }
  .weather-info2 {
    margin-top: 5rem;
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 0;
    }
    @include desktop {
      max-width: 50rem;
      margin-left: 12rem;
    }
  }
  @include tablet {
    .info-columns {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }
}

.secondary {
  margin-top: 5rem;
  @include tablet {
    margin-top: 0;
  }
}

//Resources Section
.grid-container {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .resources-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 37rem;
    background-color: #119de2;
    padding: 5rem 3rem;
    @include desktop {
      padding: 5rem 7rem;
    }
    .dark-title-cult {
      margin-bottom: 4rem;
    }
  }
  .blue-secondary {
    background-color: #42b2e8;
  }
}

.resources-banner {
  background-image: url("../../build/img/cultura_material_01.jpg");
  margin-top: 0;
  height: 37rem;
  .overlay-resources {
    height: 37rem;
    .culture-daikin {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 37rem;
      .white-title-culture {
        margin-bottom: 1rem;
        font-size: 2.2rem;
      }
      .company-name {
        margin-bottom: 4rem;
        color: $white;
      }
    }
  }
}
