.hero-distribuidores {
  height: 80%;
  margin-top: 11rem;
  background-image: url("../../build/img/distribuidores.jpg");
  background-position: bottom;
  background-size: cover;
  @include desktop {
    height: auto;
  }
}

.overlay-dist {
  height: 80%;
  background: linear-gradient(
    to bottom,
    rgba(66, 178, 232, 0.8) 0%,
    rgba(33, 89, 116, 0.8) 100%
  );
  @include desktop {
    height: auto;
    padding: 7rem;
  }
  .daikin-products {
    padding: 5rem 0;
    @include tablet {
      padding: 5rem 10rem;
    }
    @include desktop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 70rem;
      height: auto;
      padding: 0;
    }
    .white-title {
      margin-bottom: 4rem;
    }
    .white-text {
      text-align: center;
      font-size: 1.6rem;
      margin-bottom: 2rem;
      &:last-of-type {
        margin: 0;
      }
    }
  }
}

.sale-points {
  background-color: #212529;
  padding: 2rem 0;
  .white-title-culture {
    margin-bottom: 0;
    font-size: 2.4rem;
  }
}

.dist-container {
  gap: 2rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  @include small-phone {
    display: flex;
    flex-direction: column;
  }
  @include phone {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }
  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    gap: 7rem;
  }
  .card-dist {
    padding: 2rem 2rem;
    border: 1px solid gray;
    .blue-title-cult {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .state {
      i {
        margin-right: 0.7rem;
        font-size: 1rem;
        color: $blue;
      }
      a {
        color: $dark;
      }
    }
  }
}
