.distribution-container {
    margin: 14rem 0 10rem;
    .state-name {
        margin-top: 5rem;
    }
    h1, h3 {
        text-align: center;
        margin-bottom: 2rem;
    }
    .partner-container {
        .partner-info {
            @include tablet {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 4rem;
            }
            @include desktop {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 4rem;
            }
            .partner-img {
                margin-top: 5rem;
                .partner-logo {
                    text-align: center;
                }
                .contact-details {
                    margin: 3rem 0 0;
                    .align-left {
                        text-align: left;
                        border-bottom: 1px solid rgb(214, 213, 213);
                        margin-bottom: 0;
                        padding: 0 0 1rem;
                    }

                }
                .details {
                    display: grid;
                    grid-template-columns: 30% 50%;
                    padding: 1.5rem 0;
                    border-bottom: 1px solid rgb(214, 213, 213);
                    &:last-of-type {
                        border: none;
                    }
                    p {
                        margin: 0 0 0 1rem;

                    }
                }
            }
            .location-wrapper {
                margin-top: 5rem;
                iframe {
                    height: 35rem;
                    width: 100%;
                    border-radius: 3rem;
                    @include tablet {
                        height: 100%;
                    }
                    @include desktop {
                        height: 100%;   
                    }
                }
            }
        }
    }
}