.fresh-and-pure {
    margin-top: 10rem;
    .container {
        a {
            img {
                -webkit-box-shadow: -1px 0px 28px -4px rgba(158, 158, 158, 1);
                -moz-box-shadow: -1px 0px 28px -4px rgba(158, 158, 158, 1);
                box-shadow: -1px 0px 28px -4px rgba(158, 158, 158, 1);
            }
        }
    }
}