.fixed-top {
    position: fixed;
    background-color: black;
    z-index: 99999;
}

.navbar-custom {
    display: none;
    height: 7rem;
    width: 100%;
    z-index: 999;
    background-color: $white;
    @include desktop {
        display: flex;
    }
    .container {
        display: flex;
        .navbar-brand {
            display: flex;
            align-items: center;
            width: 30rem;
            .country {
                margin: 0.5rem 0 0 2rem;
                color: $dark;
                font-size: 1rem;
                font-family: "Trebuchet MS";
            }
        }
        .navbar-toggler {
            .navbar-toggler-icon {
            }
        }
        .custom-nav {
            @include desktop {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            .nav-item {
                margin-right: 2rem;
                &:last-of-type {
                    margin-right: 0;
                }
                .nav-link {
                    font-size: 1.6rem;
                    color: black;
                    font-family: "Trebuchet MS";
                }
            }
        }
    }
}

.navbar-custom2 {
    width: 100%;
    min-height: 9rem;
    z-index: 999;
    background: linear-gradient(
        to bottom,
        rgba(254, 254, 254, 1) 0%,
        rgba(244, 245, 243, 1) 0%,
        rgba(255, 255, 253, 1) 100%,
        rgba(254, 254, 254, 1) 100%
    );
    background: #eaebec;
    box-shadow: 2px 2px 2px 2px #0808081a;
    @include desktop {
        height: 6rem;
        min-height: 0;
    }
    .container {
        display: flex;
        background: linear-gradient(
            to bottom,
            rgba(254, 254, 254, 1) 0%,
            rgba(244, 245, 243, 1) 0%,
            rgba(255, 255, 253, 1) 100%,
            rgba(254, 254, 254, 1) 100%
        );
        background: #eaebec;
        padding: 1rem;
        @include desktop {
        }
        .navbar-brand {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 20rem;
            height: 9rem;
            @include desktop {
                display: none;
                height: 5rem;
            }
        }
        .navbar-toggler {
            .navbar-toggler-icon {
            }
        }
        .custom-nav {
            position: relative;
            @include desktop {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            .nav-item {
                margin-right: 2rem;
                &:last-of-type {
                    margin-right: 0;
                }
                .nav-link {
                    font-family: "Trebuchet MS";
                    font-size: 1.6rem;
                    color: black;
                }
            }
        }
    }
}

.navbar .nav-item .dropdown-menu {
    display: none;
    min-height: 3.5rem;
    font-family: "Trebuchet MS";
    transition: all 0.3s ease-in-out;
}

.navbar .nav-item:hover .nav-link {
    font-family: "Trebuchet MS";
}

.navbar .nav-item:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
        180deg,
        #fefefe 0,
        #f4f5f3 0,
        #fffffd 100%,
        #fefefe 0
    );
    width: 100%;
    min-height: 3.5rem;
    border: none;
    font-family: "Trebuchet MS";
    transition: all 0.3s ease-in-out;
    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        min-height: 3.5rem;
        transition: all 0.3s ease-in-out;
    }
}

.navbar .nav-item .dropdown-menu {
    transition: all 0.3s ease-in-out;
    margin-top: 0;
    min-width: 120rem;
    font-family: "Trebuchet MS";
    padding: 0.5rem;
    @include desktop {
        max-width: 100%;
        padding: 3rem;
    }
    .dropdown-item {
        display: flex;
        align-items: center;
        flex-grow: 0;
        min-height: 3.5rem;
        font-family: "Trebuchet MS";
        font-size: 1.6rem;
        &:hover {
            background: transparent;
            font-weight: 700;
        }
        i {
            font-size: 1.2rem;
            margin-right: 0.3rem;
            color: $blue;
        }
    }
}

/////////////////////////////////////////////////////
@include desktop {
    .navbar .nav-item .dropdown-menu {
        display: none;
        min-height: 3.5rem;
        transition: all 0.3s ease-in-out;
    }
    .navbar .nav-item:hover .nav-link {
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: flex;
        justify-content: center;
        background: linear-gradient(
            180deg,
            #fefefe 0,
            #f4f5f3 0,
            #fffffd 100%,
            #fefefe 0
        );
        width: 100%;
        min-height: 3.5rem;
        transition: all 0.3s ease-in-out;
    }
    .navbar .nav-item .dropdown-menu {
        transition: all 0.3s ease-in-out;
        margin-top: 0;
        min-width: 120rem;
        padding: 3rem;
        .dropdown-item {
            display: flex;
            align-items: center;
            flex-grow: 0;
            min-height: 3.5rem;
            font-family: "Trebuchet MS";
            font-size: 1.6rem;
            &:hover {
                background: transparent;
                font-weight: 700;
            }
            i {
                font-size: 1.2rem;
                margin-right: 0.3rem;
                color: $blue;
            }
        }
    }
}

.dropdown {
    position: inherit;
}
