.hero {
  display: flex;
  align-items: center;
  height: 70vh;
  background-image: url("../../build/img/fullhd/edificios_arboles_011.jpg");
  background-repeat: no-repeat;

  @include desktop {
    height: 80vh;
    background-image: url("../../build/img/fullhd/edificios_arboles_011.jpg");
    background-position: center right;
  }

  @include desktop-wide {
    height: 90vh;
    background-image: url("../../../build/img/4k/edificios_arboles_01.jpg");
    background-size: contain;
  }

  @include desktop-extra-wide {
    height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
  }

  .hero-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40rem;
    padding: 0 2rem;
    background-color: rgba($color: $blue, $alpha: 0.8);
    @include tablet {
      background-color: $blue;
    }
    @include desktop {
      margin-top: 10rem;
      padding: 0 7rem 0 0;
      z-index: 999;
      height: 40rem;
      width: 70rem;
      background: rgb(0, 140, 209);
      background: linear-gradient(
        93deg,
        rgba(0, 140, 209, 0.9248074229691877) 52%,
        rgba(104, 185, 226, 1) 83%,
        rgba(130, 196, 230, 1) 95%,
        rgba(154, 207, 234, 1) 99%,
        rgba(249, 249, 249, 1) 100%
      );
    }
    .hero-content {
      max-width: 50rem;
      h2 {
        max-width: 30rem;
        font-size: 2.8rem;
        text-align: left;
        font-weight: 400;
        @include desktop {
          max-width: 45rem;
          text-align: right;
        }
      }
      h2::before {
        @include desktop {
          display: inline-block;
          content: "";
          border-top: 0.1rem solid rgb(3, 3, 109);
          width: 16rem;
          margin: 0 4rem -1rem -1rem;
          transform: translate(-3rem);
        }
      }
      .text-content {
        margin-bottom: 0;
        font-size: 1.8rem;
        line-height: 2;
      }
    }
  }
}
