.wrapper {
    margin-top: 11rem;
    position: relative;
    @include desktop {
        display: grid;
        grid-template-columns: 30% 70%;
    }
    .news-hero {
        height: 50vh;
        background-image: url("../../build/img/noticia1.jpg");
        background-size: cover;
        @include desktop {
            grid-column: 2 / 3;
        }
    }

    .news-hero2 {
        height: 50vh;
        background-image: url("../../build/img/noticia2.jpg");
        background-size: cover;
        @include desktop {
            grid-column: 2 / 3;
        }
    }
    .news-hero3 {
        height: 50vh;
        background-image: url("../../build/img/noticia3.jpg");
        background-size: cover;
        @include desktop {
            grid-column: 2 / 3;
        }
    }
    .news-intro-cont {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 80%;
        margin: 0 auto;
        height: 50vh;
        @include desktop {
            right: unset;
            align-items: flex-start;
            margin-top: 8rem;
        }
        .news-intro {
            height: auto;
            margin: 0 auto;
            padding: 3rem;
            background-color: rgba($color: $blue, $alpha: 0.9);
            @include tablet {
                max-width: 50rem;
            }
            @include desktop {
                margin: 0;
                background-color: $blue;
            }
        }
    }
}

.news-int {
    margin-top: 5rem;
    .blue-title-cult {
        margin-bottom: 4rem;
    }
    .dark-text {
        margin-bottom: 3rem;
    }
    ol {
        li {
            margin-bottom: 3rem;
            span {
                font-weight: bold;
            }
        }
    }
    .sub {
        text-decoration: underline;
    }
}

.news-cont {
    margin-top: 5rem;
    background-color: $gray-section;
    padding: 5rem 0;
}

.slider {
    display: flex;
    align-items: center;
    .slick-arrow {
        font-size: 4rem;
        font-weight: bold;
        color: black;
        &:hover {
            color: $blue;
        }
    }
    .news-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        max-width: 100%;
        -webkit-box-shadow: 0px 0px 21px -8px rgba(179, 177, 179, 1);
        -moz-box-shadow: 0px 0px 21px -8px rgba(179, 177, 179, 1);
        box-shadow: 0px 0px 21px -8px rgba(179, 177, 179, 1);
    }
    .news-card {
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 95%;
            border: 1px solid $blue;
            padding: 1rem;
            &:hover {
                p {
                }
            }
            .img-cont {
                max-width: 80%;
            }
            .card-content {
                display: flex;
                margin-top: 4rem;
                padding: 0 1rem;
                max-width: 100%;
                p {
                    padding: 0;
                }
            }
            .news-name {
                padding: 0 0 2rem;
                font-size: 2.5rem;
                text-transform: none !important;
            }
            p {
                margin: 0;
            }
            .btn-news {
                display: flex;
                max-height: 5.5rem;
                width: 20rem;
                padding: 0;
                a {
                    display: flex;
                    align-items: center;
                    flex-shrink: 1;
                    padding: 1rem 2rem;
                    background-color: $blue;
                    border-radius: 3rem;
                    font-size: 1rem;
                    font-weight: 400;
                    border: none;
                    text-decoration: none;
                    text-transform: uppercase;
                    height: 4rem;
                    margin-top: 1rem;
                    &:hover {
                    }
                    i {
                        color: white;
                        font-size: 1.2rem;
                        font-weight: bold;
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
}
