.products {
  margin-top: 8rem;
  .product-container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row;
      padding: 0 2rem;
    }
    gap: 4rem;
    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 80%;
      border: 1px solid $blue;
      padding: 5px;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-decoration: none;
        background-color: #ededef;
        width: 100%;
        transition: all 0.7s ease-in-out;
        &:hover {
          background-color: $blue;
        }
        .prd-image {
          display: flex;
          justify-content: center;
          width: 80%;
        }
      }
      height: auto;
      transition: all 0.3s ease-in-out;
      @include tablet {
        display: flex;
      }
      &:hover {
        -webkit-box-shadow: 0px 9px 22px -12px rgba(176, 176, 176, 1);
        -moz-box-shadow: 0px 9px 22px -12px rgba(176, 176, 176, 1);
        box-shadow: 0px 9px 22px -12px rgba(176, 176, 176, 1);
        .blue-title {
          color: $blue;
        }
      }
      .product-img {
        width: 80%;
        margin-top: 0;
      }
      .blue-title {
        margin: 1rem;
        font-size: 2rem;
        background-color: white;
        padding: 1rem 2rem;
        border-radius: 2rem;
      }
    }
  }
}
