.projects {
  margin-top: 10rem;
  position: relative;
}

.slider {
  display: flex;
  align-items: center;
  .slick-arrow {
    font-size: 4rem;
    font-weight: bold;
    color: black;
    &:hover {
      color: $blue;
    }
  }
  .previous.slick-arrow {
    position: absolute;
    left: -4rem;
  }
  .next.slick-arrow {
    position: absolute;
    right: -4rem;
  }
  a {
    text-decoration: none;
  }
  .project-card {
    padding: 50px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 90%;
      gap: 0 2rem;
      transition: all 0.3s ease-in-out;
      .img-cont {
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        p {
          color: rgb(5, 5, 104);
        }
        .img-cont {
          border: 1px solid $blue;
          padding: .5rem;
        }
      }
      p {
        padding: 2rem 0 0;
        margin: 0;
      }
      @include desktop {
      }
      img {
        height: 40rem;
        width: 40rem;
        object-fit: cover;
      }
    }
  }
}
