.hero-services {
  height: 80%;
  margin-top: 11rem;
  background-image: url("../../build/img/servicios.jpg");
  background-position: center right;
  background-size: cover;
  @include desktop {
    height: auto;
  }
}

.overlay-products {
  height: 80%;
  background: linear-gradient(
    to bottom,
    rgba(66, 178, 232, 0.8) 0%,
    rgba(33, 89, 116, 0.8) 100%
  );
  @include desktop {
    height: auto;
    padding: 5rem;
  }
  .daikin-products {
    padding: 5rem 0;
    @include tablet {
      padding: 5rem 10rem;
    }
    @include desktop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 70rem;
      height: auto;
      padding: 0;
    }
    .white-title {
      margin-bottom: 4rem;
    }
    .white-text {
      text-align: center;
      font-size: 1.6rem;
      margin-bottom: 2rem;
      &:last-of-type {
        margin: 0;
      }
    }
  }
}

.services-information-container {
  margin-top: 10rem;
  @include desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .services-img {
    height: 30rem;
    background-image: url("../../build/img/servicios2.jpg");
    background-size: cover;
    @include desktop {
      text-align: center;
      max-width: 85%;
    }
  }
  .services-information {
    margin-top: 5rem;
    @include desktop {
      margin-top: 2rem;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        display: flex;
        margin-bottom: 3rem;
        &:last-of-type {
          margin-bottom: none;
        }
      }
      i {
        margin-top: 0.5rem;
        margin-right: 1rem;
        font-size: 1rem;
        color: $blue;
      }
    }
  }
}

.services-brief-container {
  margin-top: 10rem;
  padding: 5rem 0;
  background-color: $blue;
  .offered-services {
    .white-title-culture {
    }
    .services-card-cont {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 5rem;
      gap: 5rem;
      @include desktop {
        gap: 10rem;
      }
      .services-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        .service-icon {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          background-color: $white;
          margin-right: 0;
          img {
            max-width: 5rem;
          }
        }
        .white-text {
          margin: 2rem 0 0;
          color: $white;
          font-size: 1.4rem;
        }
      }
    }
  }
}

.informations-container {
  margin: 5rem auto;
  @include desktop {
    margin: 10rem auto;
  }
  .blue-title-cult {
    text-align: center;
  }
  .company-info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    margin-top: 5rem;
    @include desktop {
      justify-content: flex-start;
      gap: 5rem;
    }
    .company-card {
      padding: 2rem;
      background-color: $gray-section;
      .left-al {
        text-align: left;
        font-size: 1.6rem;
        margin-bottom: 2rem;
      }
      .dark-text {
        margin-bottom: 0;
        i {
          color: $blue;
          margin-right: 1rem;
        }
      }
      .email-text {
        margin-top: 2rem;
      }
    }
  }
}
