.solution-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
  border-top: 30px solid #ededef;
  border-bottom: 15px solid #ededef;
  
  @include desktop-wide {
    background-image: url("../../../build/img/4k/daikin_solutions_center_15.jpg");
    background-size: cover;
    flex-direction: row;
    height: 70rem;
  }

  .solution-description {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    margin-top: 5rem;
    @include desktop-wide {
      justify-content: center;
      max-width: 40%;
      text-align: left;
      padding: 0 0 0 7rem;
      .alt-title {
        text-align: right;
        font-size: 4rem;
        font-weight: 400;
        color: white;
      }
      .alt-title::before {
        @include desktop-wide {
          display: inline-block;
          content: "";
          border-top: 0.1rem solid rgb(3, 3, 109);
          width: 16rem;
          margin: 0 0 1rem -1rem;
          transform: translate(-5rem);
        }
      }
      p {
        font-size: 2.1rem;
        color: white;
        span {
          color: white;
          font-size: 1.6rem;
        }
      }
    }
    p {
      font-weight: 300;
    }
  }

  .center-info {
    .center-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      @include desktop-wide {
        display: row;
        max-height: 30rem;
      }
      @include tablet {
        flex-direction: row;
      }
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    width: 100%;
    margin-top: 5rem;
    padding: 7rem 0;
    text-align: left;
    
    @include tablet {
      flex-direction: row;
    }
    @include desktop-wide {
      margin-top: 0;
      padding-left: 2rem;
      background-color: transparent;
    }
    .dsc-cont {
      display: flex;
      justify-content: center;
      width: 90%;
      background-color: transparent;
      border: 1px solid blue;
      padding: 5px;
      margin-bottom: 2rem;
      max-height: 28rem;
      @include tablet {
        margin-left: 2rem;
        max-height: 25rem;
        min-width: 20rem;
      }
      @include desktop-wide {
        margin-left: 2rem;
        min-width: 20rem;
        max-height: 27rem;
      }
      .dsc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 3rem !important;
        background-color: $white;
        @include tablet {
          padding: 3rem 0;
          border-bottom: none;
        }
        @include desktop-wide {
          align-items: center;
          justify-content: center;
          margin-left: 0;
          gap: 1rem;
        }
        &:first-of-type {
          padding-top: 0;
          @include tablet {
            padding-top: 3rem;
          }
        }
        &:last-of-type {
          border-bottom: 0;
          padding-bottom: 0;
          @include tablet {
            padding-bottom: 3rem;
          }
        }
        .alt-color {
          color: #e0e0e2;
          font-size: 2.4rem!important;
          font-weight: 500!important;
        }
        p {
          margin: 0;
          color: #0374ab;
          font-size: 1.8rem;
          span {
            font-size: 1.2rem;
            color: #0374ab;
            font-weight: bold;
          }
          i {
            color: #0374ab;
            font-size: 1.6rem;
            margin-right: 1rem;
          }
        }
        .name-dsc {
          margin-bottom: 2.5rem;
          font-size: 1.8rem;
        }
        .white-title {
          font-size: 2rem;
          font-weight: 600;
        }
      }
    }
  }
}
