.btn-primary {
    --bs-btn-bg: #0097E0 !important;
    --bs-btn-border-color: #0097E0 !important;
    --bs-btn-hover-bg: #0097E0 !important;
    --bs-btn-hover-border-color: #0097E0 !important;
    --bs-btn-active-bg: #0097E0 !important;
    --bs-btn-active-border-color: #0097E0 !important;
    --bs-btn-disabled-bg: #0097E0 !important;
    --bs-btn-disabled-border-color: #0097E0 !important;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 4px) !important;
}

#CarouselProyectos .swiper-button-prev{
    color: #0097E0 !important;
}

#CarouselProyectos .swiper-button-next{
    color: #0097E0 !important;
}

#CarouselProyectos .swiper-pagination-bullet-active{
    background: #0097E0 !important;
}