/* General: */

body {
    padding-top: 100px;
    background-color: #f3f4f4;
}

/* --------- Tipografía */

.fontsize-1{
    font-size: 10px;
}

/* ---------- Background color */

.bg-gray{
    background-color: #eaebec;
}

.bg-blue{
    background-color: #0097E0;
}

.bg-blue-2 {
    background-color: #42b2e8;
}

.bg-blue-3{
    background-color: #119de2;
}

.bg-gray2{
    background-color: #30363a;
}

/* ---------- Text color */

.txt-blue{
    color: #0097E0;
}


/* Css para pantallas con tamaño superior a 1200px */

@media (min-width: 1200px) {
    body {
        padding-top: 130px;
    }
}

.nav-link {
    color: black !important;
}